 
 *{
    align-items: center;
    margin: 3px;
 }
 .container{
     border: 2px solid steelblue;
     border-radius: 5px;
     padding: 5px;
     max-width: 500px;
     min-width: 450px;
     display: grid;
     overflow: auto;
     grid-template-rows: 2,3,2;
    
     margin: 5px 25% ;
 }
 .btn{
   padding: 10px 20px;
   display: inline-block;
   text-decoration: none;
   margin: 5px;
   cursor: pointer;
   color: aliceblue;
   font-size: 15px;
   border: 2px solid black;
   border-radius: 5px;
   
 }
 .no-task{
     align-content: center;
     color: rgb(89, 42, 165);
     padding-left: 30px;
 }
 .header{
     display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 }
 .task{
     background-color: beige;
     padding: 10px 20px;
     border-radius: 3px;
     border: 1px solid burlywood
 }
 .task h3{
     display: flex;
     justify-content: space-between;
 }
 .task:hover{
     background-color: blanchedalmond;
 }
 .task-reminder{
     border-left: 5px solid green;
 }
.form{
    border: 1px dashed gray;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-control{
    margin:20px 0px;
}
.form-control label{
    display: block;
}
.form-control input{
   
    width : 94%;
    height: 30px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}
.form-control-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-control-check label{
    flex: 1;
}
.form-control-check input{
    flex: 2;
    height: 20px;
}
.btn-add-task{
    background-color: black;
    width: 98%;
    color: antiquewhite;
    border-radius: 5px;
    display: block;
   
}