 
 *{
    align-items: center;
    margin: 3px;
    padding: 0;
 }
 .container{
     border: 2px solid steelblue;
     border-radius: 5px;
     padding: 5px;
     max-width: 500px;
     display: grid;
     overflow: auto;
     grid-template-rows: 2,3,2;
 }
 .btn{
   padding: 10px 20px;
   display: inline-block;
   text-decoration: none;
   margin: 5px;
   cursor: pointer;
   color: aliceblue;
   font-size: 15px;
   border: 2px solid black;
   border-radius: 5px;
   
 }

 .header{
     display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 }
 .task{
     background-color: beige;
     padding: 10px 20px;
     border-radius: 3px;
     border: 1px solid burlywood
 }
 .task h3{
     display: flex;
     justify-content: space-between;
 }
 .task:hover{
     background-color: blanchedalmond;
 }